@model CapstoneProject.Models.Doctor

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-zlqz {
            font-weight: bold;
            background-color: #c0c0c0;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-efol {
            font-weight: bold;
            background-color: #c0c0c0;
            border-color: inherit;
            text-align: center;
            vertical-align: middle
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }
</style>
<img src="~/Images/doctor.jpg" alt="doctor" width="300" height="300" style="float:right">

<table class="tg">
    <tr>
        <th class="tg-efol" colspan="2">Doctor Details</th>
    </tr>
    <tr>
        <td class="tg-0pky">Full Name</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</td>
    </tr>
    <tr>
        <td class="tg-0pky">Email</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.Email)</td>
    </tr>
    <tr>
        <td class="tg-0pky">Phone Number</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.PhoneNumber)</td>
    </tr>
    <tr>
        <td class="tg-zlqz" colspan="2">Address </td>
    </tr>
    <tr>
        <td class="tg-0pky">Street</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.StreetAddress)</td>
    </tr>
    <tr>
        <td class="tg-0pky">City</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.City)</td>
    </tr>
    <tr>
        <td class="tg-0pky">State</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.State)</td>
    </tr>
    <tr>
        <td class="tg-0pky">Zipcode</td>
        <td class="tg-0pky">@Html.DisplayFor(model => model.Zipcode)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DoctorId }) |
 @* this take me the user back to his personal details page *@    
    @Html.ActionLink("Back to previous page", null, null, null, new { href = Request.UrlReferrer })
</p>
