@model CapstoneProject.Models.AsthmaActionPlan

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AsthmaActionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Schedule)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
