@model CapstoneProject.Models.AsthmaActionPlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asthma Action Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Schedule)
        </dd>

    </dl>
</div>

@*<div>
    <h4>AsthmaActionPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine1Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine1Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine2Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine2Schedule)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Dosage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Dosage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine3Schedule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine3Schedule)
        </dd>

    </dl>
</div>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsthmaActionPlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
