@model CapstoneProject.Models.AsthmaActionPlan


@{
    Layout = null;
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px auto;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-1i2r {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-94ls {
            background-color: #cb0000;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-hw1o {
            background-color: #009901;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-eix7 {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-1jni {
            background-color: #cb0000;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
</style>
<table class="tg">
    <tr>
        <th class="tg-c3ow" colspan="14"><span style="font-weight:bold">ASTHMA ACTION PLAN</span></th>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Name: <input type="text" id="fname" name="fname"></td>
        <td class="tg-0pky" colspan="7">Date: <input type="text" id="fname" name="fname"></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Doctor's Name: <input type="text" id="fname" name="fname"></td>
        <td class="tg-0pky" colspan="7">Doctor's Phone: <input type="text" id="fname" name="fname"></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="14">Doctor's Address: <input type="text" id="fname" name="fname"></td>
    </tr>
    <tr>
        <td class="tg-hw1o" colspan="14"><b>GREEN ZONE : DOING WELL</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="2">You have <span style="text-decoration:underline">all</span> these:<br><ul><li>Breathing is good.</li><li>No cough/wheezing.</li><li>Sleep through night.</li><li>Can work/play.</li></ul></td>
        <td class="tg-0pky" colspan="7">Use these daily preventive anti-inflammatory medicine.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">
            Medicine: @Html.DropDownListFor(m => m.MedicineName, new List<SelectListItem>
{ new SelectListItem{Text="Qvar", Value="Qvar"},
new SelectListItem{Text="Advair", Value="Advair"},
new SelectListItem{Text="Aerodid", Value="Aerobid"},
new SelectListItem{Text="Intal", Value="Intal"},
new SelectListItem{Text="Flovent", Value="Flovent"},
new SelectListItem{Text="Albuterol", Value="Albuterol"},
new SelectListItem{Text="Pulmicort", Value="Pulmicort"}}, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage: @Html.DropDownListFor(m => m.MedicineDosage, new List<SelectListItem>
{ new SelectListItem{Text="1 puff", Value="1 puff"},
new SelectListItem{Text="2 puffs", Value="2 puffs"},
new SelectListItem{Text="3 puffs", Value="3 puff"},
new SelectListItem{Text="4 puffs", Value="4 puffs"} }, "Please select")

        </td>
        <td class="tg-0pky" colspan="2">
            Schedule: @Html.DropDownListFor(m => m.MedicineSchedule, new List<SelectListItem>
{ new SelectListItem{Text="Once a day", Value="Once a day"},
new SelectListItem{Text="Twice a day", Value="Twice a day"},
new SelectListItem{Text="Every 4 hours", Value="Every 4 hours"},
new SelectListItem{Text="Every 6 hours", Value="Every 6 hours"},
new SelectListItem{Text="When needed", Value="When needed"}}, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-eix7" colspan="14"><b>YELLOW ZONE : CAUTION</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">You have <span style="text-decoration:underline">any</span> of them:<br><ul><li>First signs of cold.</li><li>Exposure to known Triggers.</li></ul></td>
        <td class="tg-0pky" colspan="7">Continue with GREEN ZONE medicine and start using this too.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">
            Medicine: @Html.DropDownListFor(m => m.MedicineName, new List<SelectListItem>
{ new SelectListItem{Text="Qvar", Value="Qvar"},
new SelectListItem{Text="Advair", Value="Advair"},
new SelectListItem{Text="Aerodid", Value="Aerobid"},
new SelectListItem{Text="Intal", Value="Intal"},
new SelectListItem{Text="Flovent", Value="Flovent"},
new SelectListItem{Text="Albuterol", Value="Albuterol"},
new SelectListItem{Text="Pulmicort", Value="Pulmicort"}}, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage: @Html.DropDownListFor(m => m.MedicineDosage, new List<SelectListItem>
{ new SelectListItem{Text="1 puff", Value="1 puff"},
new SelectListItem{Text="2 puffs", Value="2 puffs"},
new SelectListItem{Text="3 puffs", Value="3 puff"},
new SelectListItem{Text="4 puffs", Value="4 puffs"} }, "Please select")

        </td>
        <td class="tg-0pky" colspan="2">
            Schedule: @Html.DropDownListFor(m => m.MedicineSchedule, new List<SelectListItem>
{ new SelectListItem{Text="Once a day", Value="Once a day"},
new SelectListItem{Text="Twice a day", Value="Twice a day"},
new SelectListItem{Text="Every 4 hours", Value="Every 4 hours"},
new SelectListItem{Text="Every 6 hours", Value="Every 6 hours"},
new SelectListItem{Text="When needed", Value="When needed"}}, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-1i2r" colspan="7"><b>CALL YOUR PRIMARY CARE DOCTOR</b></td>
    </tr>
    <tr>
        <td class="tg-1jni" colspan="14"><b>RED ZONE : MEDICAL ALERT</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">Your Asthma is getting worse:<br><ul><li>Medicine not helping.</li><li>Breathing is hard and fast.</li><li>Wheezing.</li></ul></td>
        <td class="tg-0pky" colspan="7"><b>Take these Medicines and call your doctor NOW.</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">
            Medicine: @Html.DropDownListFor(m => m.MedicineName, new List<SelectListItem>
{ new SelectListItem{Text="Qvar", Value="Qvar"},
new SelectListItem{Text="Advair", Value="Advair"},
new SelectListItem{Text="Aerodid", Value="Aerobid"},
new SelectListItem{Text="Intal", Value="Intal"},
new SelectListItem{Text="Flovent", Value="Flovent"},
new SelectListItem{Text="Albuterol", Value="Albuterol"},
new SelectListItem{Text="Pulmicort", Value="Pulmicort"}}, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage: @Html.DropDownListFor(m => m.MedicineDosage, new List<SelectListItem>
{ new SelectListItem{Text="1 puff", Value="1 puff"},
new SelectListItem{Text="2 puffs", Value="2 puffs"},
new SelectListItem{Text="3 puffs", Value="3 puff"},
new SelectListItem{Text="4 puffs", Value="4 puffs"} }, "Please select")

        </td>
        <td class="tg-0pky" colspan="2">
            Schedule: @Html.DropDownListFor(m => m.MedicineSchedule, new List<SelectListItem>
{ new SelectListItem{Text="Once a day", Value="Once a day"},
new SelectListItem{Text="Twice a day", Value="Twice a day"},
new SelectListItem{Text="Every 4 hours", Value="Every 4 hours"},
new SelectListItem{Text="Every 6 hours", Value="Every 6 hours"},
new SelectListItem{Text="When needed", Value="When needed"}}, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-94ls" colspan="7"><b>GET HELP FROM A DOCTOR NOW! DO NOT WAIT!</b></td>
    </tr>
    <tr>
        <th class="tg-c3ow" colspan="14"><span style="font-weight:bold"><input type="submit" value="Submit" /></span></th>
        @*<td><input type="submit" value="Submit" /></td>*@
    </tr>
 </table>
