@model IEnumerable<CapstoneProject.Models.AsthmaActionPlan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine1Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine1Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine2Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine2Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine3Dosage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicine3Schedule)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine1Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine1Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine1Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine2Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine2Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine2Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine3Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine3Dosage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicine3Schedule)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsthmaActionPlanId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsthmaActionPlanId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsthmaActionPlanId })
        </td>
    </tr>
}

</table>
