@model List<CapstoneProject.Models.AsthmaActionPlan>
@{
    Layout = null;
}

<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
        margin: 0px auto;
    }

        .tg td {
            font-family: Arial, sans-serif;
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg th {
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            word-break: normal;
            border-color: black;
        }

        .tg .tg-1i2r {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-94ls {
            background-color: #cb0000;
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-c3ow {
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-0pky {
            border-color: inherit;
            text-align: left;
            vertical-align: top
        }

        .tg .tg-hw1o {
            background-color: #009901;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-eix7 {
            background-color: #f8ff00;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }

        .tg .tg-1jni {
            background-color: #cb0000;
            border-color: inherit;
            text-align: center;
            vertical-align: top
        }
</style>
<table class="tg">
    <tr>
        <th class="tg-c3ow" colspan="14"><span style="font-weight:bold">ASTHMA ACTION PLAN</span></th>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Name: @Html.TextBoxFor(model => model.FirstOrDefault().Person.FirstName)  @Html.TextBoxFor(model => model.FirstOrDefault().Person.LastName)</td>
        <td class="tg-0pky" colspan="7">Your normal peak flow rate: @Html.TextBoxFor(model => model.FirstOrDefault().NormalPeakFlowRate)</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7">Doctor's Name:  @Html.TextBoxFor(model => model.FirstOrDefault().Person.Doctor.FirstName) @Html.TextBoxFor(model => model.FirstOrDefault().Person.Doctor.LastName)</td>
        <td class="tg-0pky" colspan="7">Doctor's Phone: @Html.TextBoxFor(model => model.FirstOrDefault().Person.Doctor.PhoneNumber)</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="14">Doctor's Address: @Html.TextBoxFor(model => model.FirstOrDefault().Person.Doctor.StreetAddress)</td>
    </tr>
    <tr>
        <td class="tg-hw1o" colspan="14"><b>GREEN ZONE : DOING WELL</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="2">You have <span style="text-decoration:underline">all</span> these:<br><ul><li>Breathing is good.</li><li>No cough/wheezing.</li><li>Sleep through night.</li><li>Can work/play.</li></ul></td>
        <td class="tg-0pky" colspan="7">Use these daily preventive anti-inflammatory medicine.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">
            Medicine: @Html.EnumDropDownListFor(m => m.FirstOrDefault().GreenMedicineName, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage: @Html.EnumDropDownListFor(m => m.FirstOrDefault().GreenMedicineDosage, "Please select")

        </td>
        <td class="tg-0pky" colspan="2">
            Schedule: @Html.EnumDropDownListFor(m => m.FirstOrDefault().GreenMedicineSchedule, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-eix7" colspan="14"><b>YELLOW ZONE : CAUTION</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">You have <span style="text-decoration:underline">any</span> of them:<br><ul><li>First signs of cold.</li><li>Exposure to known Triggers.</li></ul></td>
        <td class="tg-0pky" colspan="7">Continue with GREEN ZONE medicine and start using this too.</td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">
            Medicine: @Html.EnumDropDownListFor(m => m.FirstOrDefault().YellowMedicineName, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage: @Html.EnumDropDownListFor(m => m.FirstOrDefault().YellowMedicineDosage, "Please select")

        </td>
        <td class="tg-0pky" colspan="2">
            Schedule: @Html.EnumDropDownListFor(m => m.FirstOrDefault().YellowMedicineSchedule, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-1i2r" colspan="7"><b>CALL YOUR PRIMARY CARE DOCTOR</b></td>
    </tr>
    <tr>
        <td class="tg-1jni" colspan="14"><b>RED ZONE : MEDICAL ALERT</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="7" rowspan="3">Your Asthma is getting worse:<br><ul><li>Medicine not helping.</li><li>Breathing is hard and fast.</li><li>Wheezing.</li></ul></td>
        <td class="tg-0pky" colspan="7"><b>Take these Medicines and call your doctor NOW.</b></td>
    </tr>
    <tr>
        <td class="tg-0pky" colspan="3">

            Medicine:
            @Html.EnumDropDownListFor(m => m.FirstOrDefault().RedMedicineName, "Select Select")
        </td>
        <td class="tg-0pky" colspan="2">
            Dosage:
            @Html.EnumDropDownListFor(model => model.FirstOrDefault().RedMedicineDosage, "Please select")
        </td>
        <td class="tg-0pky" colspan="2">
            Schedule:
            @Html.EnumDropDownListFor(model => model.FirstOrDefault().RedMedicineSchedule, "Please select")
        </td>
    </tr>
    <tr>
        <td class="tg-94ls" colspan="7"><b>GET HELP FROM A DOCTOR NOW! DO NOT WAIT!</b></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="14"><span style="font-weight:bold"><input type="submit" value="Submit" id="Save" /></span></td>
    </tr>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $('#Save').click(function () {

        var url = "/AsthmaActionPlans/Create";



        var doctor = {};
        doctor.FirstName = $('#Person_Doctor_FirstName').val(),
            doctor.LastName = $("#Person_Doctor_LastName").val(),
            doctor.PhoneNumber = $("#Person_Doctor_PhoneNumber").val(),
            doctor.StreetAddress = $("#Person_Doctor_StreetAddress").val()



        var person = {};
        person.FirstName = $("#Person_FirstName").val(),
            person.LastName = $("#Person_LastName").val(),
            person.Email = "Test@gmail.com",
            person.PhoneNumber = "999993221",
            person.Zipcode = "201010",
            person.IsPollutionATrigger = false,
            person.ArePollensATrigger = false,
            person.AreDustMitesATrigger = false,
            person.IsTobaccoSmokeATrigger = false,
            person.IsMoldATrigger = false,
            person.AreBurningWoodOrGrassATrigger = false,
            person.Doctor = doctor


        var model = {};
        
            model.NormalPeakFlowRate = $("#NormalPeakFlowRate").val(),
            model.GreenMedicineName = $("#GreenMedicineName").val(),
            model.GreenMedicineDosage = $("#GreenMedicineDosage").val(),
            model.GreenMedicineSchedule = $("#GreenMedicineSchedule").val(),
            model.YellowMedicineName = $("#YellowMedicineName").val(),
            model.YellowMedicineDosage = $("#YellowMedicineDosage").val(),
            model.YellowMedicineSchedule = $("#YellowMedicineSchedule").val(),
            model.RedMedicineName = $("#RedMedicineName").val(),
            model.RedMedicineDosage = $("#RedMedicineDosage").val(),
            model.RedMedicineSchedule = $("#RedMedicineSchedule").val(),
            model.Person = person

        $.ajax({
            url: "/AsthmaActionPlans/Create",
            type: "POST",
            data: { asthmaActionPlan: model },
            success: function (data) {

                window.location = data;

            },
            error: function (xhr) {
                alert('error');
            }
        });


    })

</script>

