@model CapstoneProject.Models.Person

@{
    ViewBag.Title = "Details";
}

@*<h2>Details</h2>*@

@*<div class >*@
<p class="headerText">Your filled in Personal Information</p>

<p> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</p>
<p> @Html.DisplayFor(model => model.DOB)</p>
<p class="headerText">Contact Information:</p>
<p> @Html.DisplayFor(model => model.Email)</p>
<p> @Html.DisplayFor(model => model.PhoneNumber)</p>
<p class="headerText">Address Information:</p>
<p> @Html.DisplayFor(model => model.StreetAddress)</p>
<p> @Html.DisplayFor(model => model.StreetAddress)</p>
<p> @Html.DisplayFor(model => model.City)</p>
<p>@Html.DisplayFor(model => model.State)@Html.DisplayFor(model => model.State)@Html.DisplayFor(model => model.Zipcode)</p>
 
<p class="headerText">Asthma Triggers</p>
            
@if (Model.IsPollutionATrigger == true)
{
    <p class="headerText"> Air Pollution</p>
}
@if (Model.ArePollensATrigger == true)
{
    <p class="headerText"> Pollens</p>
}
@if (Model.AreDustMitesATrigger == true)
{
    <p class="headerText"> DustMites</p>
}
@if (Model.IsTobaccoSmokeATrigger == true)
{
    <p class="headerText"> Tobacco Smoke  </p>
}
@if (Model.IsMoldATrigger == true)
{
    <p class="headerText"> Mold  </p>
}
@if (Model.AreBurningWoodOrGrassATrigger == true)
{
    <p class="headerText"> Burning Wood and Grass  </p>
}


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
